.DS_Store
Thumbs.db
*.suo
*.user
*.bak
*.swp

*.csproj.user
*.sln.docstates
*.vs/
[Bb]in/
[Oo]bj/
*.pfx
*.snk
*.config
*.secrets.json

/WebApp/wwwroot/lib/*  
/WebApp/wwwroot/temp/*
/WebApp/Properties/PublishProfiles/* 

/ProEvent.DAL/Migrations/* 
!/ProEvent.DAL/Migrations/.gitkeep 
/ProEvent.DAL/obj/*
/ProEvent.DAL/bin/*

/ProEvent.BLL/obj/*
/ProEvent.BLL/bin/*

/ProEvent.Services.Identity/obj/*
/ProEvent.Services.Identity/bin/*

/WebApp/obj/*
/WebApp/bin/*
/WebApp/Properties/launchSettings.json 

/Frontend/node_modules/
/Frontend/dist/
/Frontend/.cache/

*.log
*.tmp